/* 
*   Kevin Powell
*   https://youtu.be/cCAtD_BAHNw 
*/
:root {
  --bg-color: rgb(0, 0, 60);
  --accent-color: rgb(209, 77, 0);
  --icon-color: rgb(211, 211, 211);
  --shadow-color: rgba(0,0,0,0.3);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit; /* Get rid of all font sizes and heights */
}

html {
  color-scheme: dark light; /* Default dark */
  hanging-punctuation: first last; /* Not supported in Chrome */
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
}

/* Media responsive */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  max-width: 75ch;
  text-wrap: pretty; /* Prevents orphans on lines */
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}

@keyframes nav_icon_hover_in {
  from {
  height: 4vh;
  width: auto;
  fill: var(--icon-color);
  }
  to {
  height: 5vh;
  width: auto;
  fill: var(--bg-color);
  }
}

keyframes nav_icon_hover_out {
  from {
  height: 5vh;
  width: auto;
  fill: var(--bg-color);
  }
  to {
  height: 4vh;
  width: auto;
  fill: var(--icon-color);
  }
  
}

div#nav_bar {
  background-color: var(--accent-color);
  border-radius: 30px 30px 0px 0px;
  position: fixed;
  bottom: 0;
  height: 8vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 -2px 10px var(--shadow-color);
}

#nav_bar .nav_icon:not(:hover) {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4vh;
  width: auto;
  fill: var(--icon-color);
  transition: all .5s;
}

#nav_bar .nav_icon:hover {
  height: 5vh;
  width: auto;
  fill: var(--bg-color);
  transition: all .5s;
}
